<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}No Thanks!{{else}}Eat Da Burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">No thanks!</button>
</li>